DigitalSwitching-Dynamic-Dimmer.json
[{"id":"95024aacf7c9dbeb","type":"tab","label":"Digital Switch","disabled":false,"info":"","env":[]},{"id":"26fb180283877073","type":"ui_slider","z":"95024aacf7c9dbeb","name":"","label":"","tooltip":"","group":"f38884eac4b1bfc9","order":3,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"1","step":"0.05","className":"","x":610,"y":300,"wires":[["2fba67e4a831e24f","a97085dc7d4c66c0","4cd9992262989dcb"]]},{"id":"4cd9992262989dcb","type":"ui_gauge","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":1,"width":6,"height":4,"gtype":"gage","title":"Port","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":830,"y":240,"wires":[]},{"id":"5dbd720c5baba803","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":8,"width":2,"height":1,"passthru":false,"label":"Full","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":360,"wires":[["26fb180283877073"]]},{"id":"ae84348d600bbe39","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":5,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":240,"wires":[["26fb180283877073"]]},{"id":"beb94aec0d80dd42","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":6,"width":1,"height":1,"passthru":false,"label":"25","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0.25","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":280,"wires":[["26fb180283877073"]]},{"id":"6414c67c206ccbee","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":7,"width":1,"height":1,"passthru":false,"label":"50","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0.5","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":320,"wires":[["26fb180283877073"]]},{"id":"acc2915c2165023e","type":"ui_slider","z":"95024aacf7c9dbeb","name":"","label":"","tooltip":"","group":"f38884eac4b1bfc9","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"1","step":"0.05","className":"","x":610,"y":680,"wires":[["e7e284c9d836a2cf","0ce84c555819716d","194081ad9564ce92"]]},{"id":"194081ad9564ce92","type":"ui_gauge","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":2,"width":6,"height":4,"gtype":"gage","title":"Starboard","label":"units","format":"{{value}}","min":0,"max":"1","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":840,"y":620,"wires":[]},{"id":"54d03ce04b83cd27","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":12,"width":2,"height":1,"passthru":false,"label":"Full","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":740,"wires":[["acc2915c2165023e"]]},{"id":"e4ea37cda67a8954","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":9,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":620,"wires":[["acc2915c2165023e"]]},{"id":"936be40a46daff2a","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":10,"width":1,"height":1,"passthru":false,"label":"25","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0.25","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":660,"wires":[["acc2915c2165023e"]]},{"id":"b86bdeca983254cf","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":11,"width":1,"height":1,"passthru":false,"label":"50","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0.5","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":700,"wires":[["acc2915c2165023e"]]},{"id":"10a8948fcb44be55","type":"ui_switch","z":"95024aacf7c9dbeb","name":"","label":"Port low level","tooltip":"","group":"f38884eac4b1bfc9","order":13,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":440,"y":420,"wires":[["2c069c308e887f05","4f35f311bf9a3b7c"]]},{"id":"89540cbb2f50321b","type":"ui_switch","z":"95024aacf7c9dbeb","name":"","label":"Starboard low level","tooltip":"","group":"f38884eac4b1bfc9","order":14,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":450,"y":800,"wires":[["ea54cb0e642b3b69","c3599a81565f89eb"]]},{"id":"2c069c308e887f05","type":"rpi-gpio out","z":"95024aacf7c9dbeb","name":"","pin":"5","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":840,"y":400,"wires":[]},{"id":"ea54cb0e642b3b69","type":"rpi-gpio out","z":"95024aacf7c9dbeb","name":"","pin":"6","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":840,"y":780,"wires":[]},{"id":"8bffa0afa88f3b42","type":"signalk-send-pathvalue","z":"95024aacf7c9dbeb","name":"","source":"","meta":"{\"units\" : \"%\"}","x":1110,"y":340,"wires":[]},{"id":"2fba67e4a831e24f","type":"change","z":"95024aacf7c9dbeb","name":"digital.switch.1","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":340,"wires":[["8bffa0afa88f3b42"]]},{"id":"fd556fad86d7ffad","type":"signalk-send-pathvalue","z":"95024aacf7c9dbeb","name":"","source":"","meta":"","x":1110,"y":460,"wires":[]},{"id":"4f35f311bf9a3b7c","type":"change","z":"95024aacf7c9dbeb","name":"digital.switch.2","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":460,"wires":[["fd556fad86d7ffad"]]},{"id":"1b6a4fd8994fa6d1","type":"signalk-send-pathvalue","z":"95024aacf7c9dbeb","name":"","source":"","meta":"{\"units\" : \"%\"}","x":1110,"y":720,"wires":[]},{"id":"e7e284c9d836a2cf","type":"change","z":"95024aacf7c9dbeb","name":"digital.switch.3","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":720,"wires":[["1b6a4fd8994fa6d1"]]},{"id":"3c1cda5e9546b0dd","type":"signalk-send-pathvalue","z":"95024aacf7c9dbeb","name":"","source":"","meta":"","x":1110,"y":840,"wires":[]},{"id":"c3599a81565f89eb","type":"change","z":"95024aacf7c9dbeb","name":"digital.switch.4","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":840,"wires":[["3c1cda5e9546b0dd"]]},{"id":"7aa7fb1017c8e75a","type":"inject","z":"95024aacf7c9dbeb","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":220,"y":500,"wires":[["ae84348d600bbe39","e4ea37cda67a8954"]]},{"id":"60c2d41d0f172b16","type":"signalk-put-handler","z":"95024aacf7c9dbeb","name":"digital.switch.4","path":"digital.switch.4","x":240,"y":800,"wires":[["89540cbb2f50321b"]]},{"id":"f966e355741dd4bd","type":"signalk-put-handler","z":"95024aacf7c9dbeb","name":"digital.switch.2","path":"digital.switch.2","x":220,"y":420,"wires":[["10a8948fcb44be55"]]},{"id":"9950098c71b75695","type":"inject","z":"95024aacf7c9dbeb","name":"Startup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"1","payloadType":"num","x":220,"y":560,"wires":[["10a8948fcb44be55","89540cbb2f50321b"]]},{"id":"abb2edca954a4162","type":"PCA9685 out","z":"95024aacf7c9dbeb","name":"","pca9685":"6ce45bce.cdff94","channel":"0","payload":"","unit":"percent","onStep":"0","x":1080,"y":280,"wires":[]},{"id":"f487cb707b4acbab","type":"PCA9685 out","z":"95024aacf7c9dbeb","name":"","pca9685":"6ce45bce.cdff94","channel":"1","payload":"","unit":"percent","onStep":"0","x":1080,"y":660,"wires":[]},{"id":"a97085dc7d4c66c0","type":"dynamic-dimmer","z":"95024aacf7c9dbeb","name":"","eventInterval":"50","steps":"30","minValue":0,"maxValue":100,"x":870,"y":280,"wires":[["abb2edca954a4162"]]},{"id":"0ce84c555819716d","type":"dynamic-dimmer","z":"95024aacf7c9dbeb","name":"","eventInterval":"50","steps":"30","minValue":0,"maxValue":100,"x":870,"y":660,"wires":[["f487cb707b4acbab"]]},{"id":"ccbeb8f805974024","type":"ui_button","z":"95024aacf7c9dbeb","name":"","group":"f38884eac4b1bfc9","order":15,"width":12,"height":1,"passthru":false,"label":"All Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":100,"wires":[["26fb180283877073","acc2915c2165023e"]]},{"id":"f38884eac4b1bfc9","type":"ui_group","name":"LED Panel","tab":"e80e3475d3e0a083","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"6ce45bce.cdff94","type":"PCA9685","deviceNumber":"1","address":"64","frequency":"1000"},{"id":"e80e3475d3e0a083","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]