DigitalSwitching.json
[{"id":"d25c454d1903c68c","type":"tab","label":"Digital Switching simple","disabled":false,"info":"","env":[]},{"id":"62eeee5929e69ed7","type":"ui_slider","z":"d25c454d1903c68c","name":"","label":"","tooltip":"","group":"f38884eac4b1bfc9","order":3,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","className":"","x":710,"y":300,"wires":[["f40fa2c938c2a923","72b823158156591e","283dc6a7a14524b4"]]},{"id":"72b823158156591e","type":"ui_gauge","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":1,"width":6,"height":4,"gtype":"gage","title":"Port","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":930,"y":240,"wires":[]},{"id":"c84ce12ea1cfb328","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":8,"width":2,"height":1,"passthru":false,"label":"Full","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"100","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":360,"wires":[["62eeee5929e69ed7"]]},{"id":"55d1c3da4ad2d393","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":5,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":240,"wires":[["62eeee5929e69ed7"]]},{"id":"879279dd77e594a1","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":6,"width":1,"height":1,"passthru":false,"label":"25","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"25","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":280,"wires":[["62eeee5929e69ed7"]]},{"id":"eb12d612c82d85bf","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":7,"width":1,"height":1,"passthru":false,"label":"50","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"50","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":320,"wires":[["62eeee5929e69ed7"]]},{"id":"9bf02de878c36348","type":"ui_slider","z":"d25c454d1903c68c","name":"","label":"","tooltip":"","group":"f38884eac4b1bfc9","order":4,"width":6,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"100","step":"1","className":"","x":710,"y":680,"wires":[["3e022077841ad93d","1e21ba5a1d0487b8","ee8b8571a192e805"]]},{"id":"1e21ba5a1d0487b8","type":"ui_gauge","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":2,"width":6,"height":4,"gtype":"gage","title":"Starboard","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":940,"y":620,"wires":[]},{"id":"7d8667bf52a95c23","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":12,"width":2,"height":1,"passthru":false,"label":"Full","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"100","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":740,"wires":[["9bf02de878c36348"]]},{"id":"1a7becdbb2e6601a","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":9,"width":2,"height":1,"passthru":false,"label":"Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":620,"wires":[["9bf02de878c36348"]]},{"id":"f8cf60afee32e217","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":10,"width":1,"height":1,"passthru":false,"label":"25","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"25","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":660,"wires":[["9bf02de878c36348"]]},{"id":"f533e8ae7b8b1049","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":11,"width":1,"height":1,"passthru":false,"label":"50","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"50","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":700,"wires":[["9bf02de878c36348"]]},{"id":"3d6c722c079c82b2","type":"ui_switch","z":"d25c454d1903c68c","name":"","label":"Port low level","tooltip":"","group":"f38884eac4b1bfc9","order":13,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":540,"y":420,"wires":[["1856b2a18e23b9a0","57bde741796124c7"]]},{"id":"2763747cebdaae64","type":"ui_switch","z":"d25c454d1903c68c","name":"","label":"Starboard low level","tooltip":"","group":"f38884eac4b1bfc9","order":14,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":550,"y":800,"wires":[["8e6c9f694ed751c9","64d89faac972d0ef"]]},{"id":"1856b2a18e23b9a0","type":"rpi-gpio out","z":"d25c454d1903c68c","name":"","pin":"5","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":940,"y":400,"wires":[]},{"id":"8e6c9f694ed751c9","type":"rpi-gpio out","z":"d25c454d1903c68c","name":"","pin":"6","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":940,"y":780,"wires":[]},{"id":"766970ecee4e8923","type":"signalk-send-pathvalue","z":"d25c454d1903c68c","name":"","source":"","meta":"{\"units\" : \"%\"}","x":1210,"y":340,"wires":[]},{"id":"f40fa2c938c2a923","type":"change","z":"d25c454d1903c68c","name":"digital.switch.1","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":340,"wires":[["766970ecee4e8923"]]},{"id":"1a2af03f1a2cd7e4","type":"signalk-send-pathvalue","z":"d25c454d1903c68c","name":"","source":"","meta":"","x":1210,"y":460,"wires":[]},{"id":"57bde741796124c7","type":"change","z":"d25c454d1903c68c","name":"digital.switch.2","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":460,"wires":[["1a2af03f1a2cd7e4"]]},{"id":"872276b8074a3e55","type":"signalk-send-pathvalue","z":"d25c454d1903c68c","name":"","source":"","meta":"{\"units\" : \"%\"}","x":1210,"y":720,"wires":[]},{"id":"3e022077841ad93d","type":"change","z":"d25c454d1903c68c","name":"digital.switch.3","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":720,"wires":[["872276b8074a3e55"]]},{"id":"ab32e9a9d6cd9b63","type":"signalk-send-pathvalue","z":"d25c454d1903c68c","name":"","source":"","meta":"","x":1210,"y":840,"wires":[]},{"id":"64d89faac972d0ef","type":"change","z":"d25c454d1903c68c","name":"digital.switch.4","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":840,"wires":[["ab32e9a9d6cd9b63"]]},{"id":"54f3a3ff60520bb8","type":"inject","z":"d25c454d1903c68c","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":320,"y":500,"wires":[["55d1c3da4ad2d393","1a7becdbb2e6601a"]]},{"id":"f4d874baf10d9c47","type":"signalk-put-handler","z":"d25c454d1903c68c","name":"digital.switch.4","path":"digital.switch.4","x":340,"y":800,"wires":[["2763747cebdaae64"]]},{"id":"f432f43650ee740b","type":"signalk-put-handler","z":"d25c454d1903c68c","name":"digital.switch.2","path":"digital.switch.2","x":320,"y":420,"wires":[["3d6c722c079c82b2"]]},{"id":"31eda1b83c124096","type":"inject","z":"d25c454d1903c68c","name":"Startup","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"1","payloadType":"num","x":320,"y":560,"wires":[["3d6c722c079c82b2","2763747cebdaae64"]]},{"id":"283dc6a7a14524b4","type":"PCA9685 out","z":"d25c454d1903c68c","name":"","pca9685":"6ce45bce.cdff94","channel":"0","payload":"","unit":"percent","onStep":"0","x":960,"y":280,"wires":[]},{"id":"ee8b8571a192e805","type":"PCA9685 out","z":"d25c454d1903c68c","name":"","pca9685":"6ce45bce.cdff94","channel":"1","payload":"","unit":"percent","onStep":"0","x":960,"y":660,"wires":[]},{"id":"2538a8ad835e2f47","type":"ui_button","z":"d25c454d1903c68c","name":"","group":"f38884eac4b1bfc9","order":15,"width":12,"height":1,"passthru":false,"label":"All Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":510,"y":100,"wires":[["62eeee5929e69ed7","9bf02de878c36348"]]},{"id":"f38884eac4b1bfc9","type":"ui_group","name":"LED Panel","tab":"e80e3475d3e0a083","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"6ce45bce.cdff94","type":"PCA9685","deviceNumber":"1","address":"64","frequency":"1000"},{"id":"e80e3475d3e0a083","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]