Node-Red Tracking Menu & Data Control.json
[{"id":"18eeb2c03ba7d9ab","type":"tab","label":"Comms","disabled":false,"info":"","env":[]},{"id":"1df53f8bd6db11ea","type":"group","z":"18eeb2c03ba7d9ab","name":"Build Keyboard Nodes","style":{"fill":"#d1d1d1","label":true,"color":"#ff3f3f","fill-opacity":"0.32"},"nodes":["dec8774df8d3402c","c8a8015.60267","2c2e5956.54b846"],"x":54,"y":439,"w":792,"h":82},{"id":"6b8e51cb1a03c10f","type":"group","z":"18eeb2c03ba7d9ab","name":"Gather data","style":{"fill":"#dbcbe7","fill-opacity":"0.46","label":true,"color":"#ff3f3f"},"nodes":["fb3f092b9cf323f9","da1f551c539568dc","97332f9d9af9ec98","3348d05592382d9c","8cda5abc8973f983","3425be9dc3afd79e","940f4045eec73ccc","75ed9e25f3a99da9","c988801ec27ed6a7","5e7fde11fd4bfcf8"],"x":54,"y":559,"w":612,"h":342},{"id":"d1cbdfd2b849533b","type":"group","z":"18eeb2c03ba7d9ab","name":"Ask a Question & Live Tracking","style":{"fill":"#bfbfbf","fill-opacity":"0.35","label":true,"color":"#ff3f3f"},"nodes":["80211883.fcf5f","0e64de70702f189f","723b7cfea09b1854","83636e22110a797e","6136796825a96d43","9e8b6ae3d7e06e70","4d48cd6f0b6537e0","d1e51133dcabd7d7","d1af0f3c42fd1cde","e1914945.0ecfd8","dc7bc908.f6e5f8","da4cf949.cb9118","449dc685.098248","9d2ef78b.a10f28","74bc17cd.97b958","b8b7f3c0.f220a","cab3ca7f.6f2778","796bfd7b.89ef04","de720b3.43142f8","ef341f1c.6ab44","dc174ebf.53e2c","c95ae907.49e268","ecf89a6f.b65cf8","7c39a13.7fa4c6","f4178beef51f864d","e3d9e404fbaea022","ec3ab3fa0472d6e8","62df62dce20e55c9","f2a8d30d2398ec19","4e962ff6cf24d1f1","1e1d862c54f4d9f2","5cc3fb5e5efd3faf","ef7a7c3b1bb5271f","def0d11714b86e33","df6631cec8d9af53"],"x":54,"y":919,"w":1752,"h":942},{"id":"af38cd05a69dad5d","type":"group","z":"18eeb2c03ba7d9ab","name":"Send if active & in range","style":{"fill":"#d1d1d1","fill-opacity":"0.57","label":true,"color":"#ff3f3f"},"nodes":["7fdb185e5ea0e7ba","99bae3834eb41f29","383f99cf83dbfa10","18e1a5e210719293","cea9eeb8a3eba5bc","21870996a3ea8065","d77e310b9df31548"],"x":48,"y":1893,"w":1770,"h":1954},{"id":"8592803089c31b31","type":"group","z":"18eeb2c03ba7d9ab","name":"Test Message & Send all from a path","style":{"fill":"#d1d1d1","fill-opacity":"0.57","label":true,"color":"#ff3f3f"},"nodes":["e0e61203fe775a45","49cf240b.2ca1ac","daabb9c2221d5f1b","2cb578e461da158b"],"x":54,"y":239,"w":812,"h":162},{"id":"72b9d0b2ed58290a","type":"group","z":"18eeb2c03ba7d9ab","name":"Setup Nodes","style":{"label":true,"fill":"#d1d1d1","fill-opacity":"0.34","color":"#ff3f3f"},"nodes":["21c07a5e9f17565f","24d0a924a2069067","16c8efc1e950ddf8","f3d4f77549e31c3c","42872bc930bb2142"],"x":54,"y":19,"w":932,"h":182},{"id":"7fdb185e5ea0e7ba","type":"group","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["41adace57db6181d","0b0990b67343b02a","607ea3ad3819982b","c9809d2ba5384997","d671a103.a0e918","c686cdd16d5d3fca"],"x":74,"y":1919,"w":1712,"h":162},{"id":"99bae3834eb41f29","type":"group","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["bad531c6ba4b9d7b","ab3b556363a7ffa6","99af19196d3c2fea","78f1eefccf598794","4cd6fcae.338154","71fe02aab41c07a3","d9fe7128b8643e32","ff187cdff6fa5696","2860c6a937eeba43"],"x":74,"y":2099,"w":1712,"h":202},{"id":"383f99cf83dbfa10","type":"group","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6e645e77299bfed9","6ba58a8b113ad426","9d865a7428bba3ea","4d15466afd17b6e5","ed82f2f86bd02c41","a88f25ef26556148","e3e6615b16d2134e","1ac97aa8ea294a4c","f6121f9d99d16f3c"],"x":74,"y":2319,"w":1712,"h":202},{"id":"18e1a5e210719293","type":"group","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["4838460ac1849343","1902c33340761d92","991ff99e1ed46ae7","04c4d97262483391","54c419baeae5e4ac","25ae4c8b55c41926","43aee9d4e94ade71","d6875f632dcdb472","aebba28bb9be4b80","bf8da4b27ce1ef2a","5290df4b2b099f53","c9d9c84ecb78535e","11a59da532f52bfd"],"x":74,"y":2539,"w":1718,"h":308},{"id":"21870996a3ea8065","type":"group","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["62adeadabae4b823","583eb9219b362ad4","42679ac70be1edf0","5377fb9bb6cf9409","f3b15ff259225f71","bee8e0eb07b7e6b2","b96acd6066628802","b3399c4dfea36a21","7f8095611a09c07b","2ac03a8766cb7931","bc17cdf146a7b476","dadc696624993217","046d4870f8f3bbd3","6439faea3003c282"],"x":74,"y":2879,"w":1712,"h":342},{"id":"d77e310b9df31548","type":"group","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["de5a7b39bab17cfa","52acf3c18136645a","08b1a7ae7d1d935d","67678dbe9b5a79a8","cefd8527b55858d7","3be601cd454076f9","334c92d3401c8dbd","ca67ee1243857141","8a29bd48a48a631f","b8afc26c64e1b88a","de9ad76d37156308","c555014a8403d910","bcf94a4f42f42b38","04a8bd2ed8de4153","68d0412b5cb27c90","850e3cedb826a4dd","d4ef3e154a299785","b584687aafc93de2","bc24600d8532fe5c","0b903b3309374847","8d7249f178923b9d","f3e1e0098d1a2efc"],"x":74,"y":3259,"w":1712,"h":562},{"id":"11a59da532f52bfd","type":"group","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["6f05e3af6fdea32d"],"x":1554,"y":2739,"w":212,"h":82},{"id":"dec8774df8d3402c","type":"telegram command","z":"18eeb2c03ba7d9ab","g":"1df53f8bd6db11ea","name":"","command":"/allegra","description":"","registercommand":false,"language":"","scope":"default","bot":"","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":130,"y":480,"wires":[["2c2e5956.54b846"],[]]},{"id":"80211883.fcf5f","type":"telegram receiver","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":160,"y":1200,"wires":[["0e64de70702f189f"],[]]},{"id":"c8a8015.60267","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"1df53f8bd6db11ea","name":"","bot":"","haserroroutput":false,"outputs":1,"x":740,"y":480,"wires":[[]]},{"id":"2c2e5956.54b846","type":"function","z":"18eeb2c03ba7d9ab","g":"1df53f8bd6db11ea","name":"build keyboard","func":"var opts = {\n  reply_markup: JSON.stringify({\n    keyboard: [\n      ['Lights'],\n      ['Lights Off'],\n      ['Boat Location'],\n      ['Update Location'],\n      ['Stop Location'],\n      ['Battery Voltage'],\n      ['Bilge Events']],\n      'resize_keyboard' : true, \n      'one_time_keyboard' : true\n  })\n};\n\n\nmsg.error = false;\n// Dialog\nmsg.payload.content = 'What would you like to do?';\nmsg.payload.options = opts;\n\n\nmsg.payload.chatId = 6370366023;\nmsg.payload.type = \"message\";\n\nreturn [ msg ];\n","outputs":"1","timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":480,"wires":[["c8a8015.60267"]]},{"id":"0e64de70702f189f","type":"switch","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Lights","vt":"str"},{"t":"eq","v":"Lights Off","vt":"str"},{"t":"eq","v":"Boat Location","vt":"str"},{"t":"eq","v":"Update Location","vt":"str"},{"t":"eq","v":"Stop Location","vt":"str"},{"t":"eq","v":"Battery Voltage","vt":"str"},{"t":"eq","v":"Bilge Events","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":350,"y":1200,"wires":[["f2a8d30d2398ec19","def0d11714b86e33"],["6136796825a96d43"],["9d2ef78b.a10f28"],["796bfd7b.89ef04"],["f4178beef51f864d","ef341f1c.6ab44"],["d1e51133dcabd7d7"],["d1af0f3c42fd1cde"]]},{"id":"723b7cfea09b1854","type":"change","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":1040,"wires":[["83636e22110a797e"]]},{"id":"83636e22110a797e","type":"signalk-send-put","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","path":"","source":"","x":1570,"y":1080,"wires":[]},{"id":"6136796825a96d43","type":"change","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1080,"wires":[["83636e22110a797e"]]},{"id":"fb3f092b9cf323f9","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"navigation.position","source":"sksim","period":1000,"x":160,"y":660,"wires":[["da1f551c539568dc","5e7fde11fd4bfcf8"]]},{"id":"9e8b6ae3d7e06e70","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1280,"y":1800,"wires":[[]]},{"id":"da1f551c539568dc","type":"file","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"location","filename":"location","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":380,"y":660,"wires":[["c988801ec27ed6a7"]]},{"id":"4d48cd6f0b6537e0","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Message Send Value","func":"var message = msg.payload;\nmsg.payload = { chatId: 6370366023, type: 'message', content: 'The current battery voltage is' + ' ' + message};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1780,"wires":[["9e8b6ae3d7e06e70"]]},{"id":"97332f9d9af9ec98","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.wind.speedTrue","source":"","period":1000,"x":160,"y":740,"wires":[["3348d05592382d9c"]]},{"id":"3348d05592382d9c","type":"file","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"Voltage","filename":"Voltage","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":380,"y":740,"wires":[[]]},{"id":"8cda5abc8973f983","type":"file","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"Bilge","filename":"Bilge","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":370,"y":800,"wires":[["75ed9e25f3a99da9"]]},{"id":"d1e51133dcabd7d7","type":"file in","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Voltage","filename":"Voltage","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":700,"y":1780,"wires":[["4d48cd6f0b6537e0"]]},{"id":"d1af0f3c42fd1cde","type":"file in","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Bilge","filename":"Bilge","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":690,"y":1820,"wires":[["62df62dce20e55c9"]]},{"id":"e1914945.0ecfd8","type":"catch","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","x":720,"y":1700,"wires":[["dc7bc908.f6e5f8"]]},{"id":"dc7bc908.f6e5f8","type":"debug","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Debug","active":false,"console":"false","complete":"payload","x":1010,"y":1700,"wires":[]},{"id":"da4cf949.cb9118","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"send location","bot":"","haserroroutput":false,"outputs":1,"x":1200,"y":1180,"wires":[["c95ae907.49e268"]]},{"id":"449dc685.098248","type":"telegram command","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"/send to send location","command":"/send","description":"","registercommand":false,"language":"","bot":"","strict":true,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":760,"y":1140,"wires":[["9d2ef78b.a10f28"]]},{"id":"9d2ef78b.a10f28","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"send initial location","func":"// see https://core.telegram.org/bots/api#sendlocation\n\nvar lat = flow.get(\"lat\");\nvar lng = flow.get(\"lng\");\nvar time = flow.get(\"time\");\n\n\nmsg.payload.type = 'location';\nmsg.payload.content = {\n    latitude : lat,\n    longitude : lng\n};\n  \nmsg.payload.options = {\n    live_period : time\n};  \n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":990,"y":1180,"wires":[["da4cf949.cb9118"]]},{"id":"74bc17cd.97b958","type":"telegram receiver","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"message receiver","bot":"","saveDataDir":"","filterCommands":false,"x":740,"y":1560,"wires":[["b8b7f3c0.f220a"],[]]},{"id":"b8b7f3c0.f220a","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"reply location message","func":"if(msg.payload.type == 'location')\n{\n    var lat = msg.payload.content.latitude;\n    var lng = msg.payload.content.longitude;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = 'lat=' + lat + ' lon=' + lng;\n    \n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"noerr":0,"x":1090,"y":1560,"wires":[["dc174ebf.53e2c"]]},{"id":"cab3ca7f.6f2778","type":"telegram command","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"/update to update live location","command":"/update","description":"","registercommand":false,"language":"","bot":"","strict":true,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":1170,"y":1400,"wires":[["796bfd7b.89ef04"]]},{"id":"796bfd7b.89ef04","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"edit initial location","func":"// see https://core.telegram.org/bots/api#editMessageLiveLocation\n\nvar messageId = flow.get(\"messageId\");\n\nvar lat = flow.get(\"lat\");\nvar lng = flow.get(\"lng\");\n//lat += 0.1;\n//lng += 0.1;\nflow.set(\"lat\", lat);\nflow.set(\"lng\", lng);\n\n\nvar chatId = msg.payload.chatId;\nmsg.payload.type = 'editMessageLiveLocation';\nmsg.payload.content = {\n    latitude : lat,\n    longitude : lng\n};\n  \nmsg.payload.options = {\n    chat_id : chatId,\n    message_id : messageId\n};  \n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1450,"y":1340,"wires":[["dc174ebf.53e2c"]]},{"id":"de720b3.43142f8","type":"telegram command","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"/abort to stop live location","command":"/abort","description":"","registercommand":false,"language":"","bot":"","strict":true,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":770,"y":1500,"wires":[["ef341f1c.6ab44","f4178beef51f864d"]]},{"id":"ef341f1c.6ab44","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"stop live updating","func":"// see https://core.telegram.org/bots/api#stopMessageLiveLocation\n\nvar messageId = flow.get(\"messageId\");\nvar chatId = msg.payload.chatId;\n\nmsg.payload.type = 'stopMessageLiveLocation';\nmsg.payload.options = {\n    chat_id : chatId,\n    message_id : messageId\n};  \n\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1500,"wires":[["dc174ebf.53e2c"]]},{"id":"dc174ebf.53e2c","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"send response","bot":"","haserroroutput":false,"outputs":1,"x":1700,"y":1520,"wires":[[]]},{"id":"c95ae907.49e268","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"store messageId","func":"// Here we store the message id of the live location message, \n// as we need to update exactly this one later\n\nvar messageId = msg.payload.sentMessageId;\nflow.set(\"messageId\", messageId);\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1390,"y":1180,"wires":[["ec3ab3fa0472d6e8"]]},{"id":"ecf89a6f.b65cf8","type":"telegram event","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"live location receiver","bot":"","event":"edited_message","autoanswer":"","x":750,"y":1620,"wires":[["7c39a13.7fa4c6"]]},{"id":"7c39a13.7fa4c6","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"filter live location","func":"if(msg.payload.location)\n{\n    var lat = msg.payload.location.latitude;\n    var lng = msg.payload.location.longitude;\n    var user = msg.payload.from.username;\n    \n    msg.payload.type = 'message';\n    msg.payload.content = user + ' moved to lat=' + lat + ' lon=' + lng;\n    \n    return msg;\n}\nelse\n{\n    return null;\n}\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1070,"y":1620,"wires":[["dc174ebf.53e2c"]]},{"id":"f4178beef51f864d","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"msg.reset","func":"msg.reset =0;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":960,"y":1340,"wires":[["e3d9e404fbaea022"]]},{"id":"e3d9e404fbaea022","type":"trigger","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","op1":"","op2":"1","op1type":"pay","op2type":"str","duration":"-15","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":1280,"wires":[["796bfd7b.89ef04"]]},{"id":"ec3ab3fa0472d6e8","type":"delay","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1600,"y":1180,"wires":[["e3d9e404fbaea022"]]},{"id":"62df62dce20e55c9","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Message Send Value","func":"var message = msg.payload;\nmsg.payload = { chatId: 6370366023, type: 'message', content: 'The bilge pump has run' + ' ' + message +'times.'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1820,"wires":[["9e8b6ae3d7e06e70"]]},{"id":"3425be9dc3afd79e","type":"ui_button","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"","group":"54bae0f1.50cc","order":32,"width":9,"height":1,"passthru":false,"label":"Reset Bilge Counter","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"bilge.counter","topicType":"msg","x":180,"y":860,"wires":[["8cda5abc8973f983"]]},{"id":"41adace57db6181d","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"7fdb185e5ea0e7ba","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":180,"y":2040,"wires":[[]]},{"id":"0b0990b67343b02a","type":"function","z":"18eeb2c03ba7d9ab","g":"7fdb185e5ea0e7ba","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2040,"wires":[["d671a103.a0e918"]]},{"id":"cea9eeb8a3eba5bc","type":"inject","z":"18eeb2c03ba7d9ab","g":"af38cd05a69dad5d","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"1","payloadType":"num","x":170,"y":1960,"wires":[["0b0990b67343b02a"]]},{"id":"607ea3ad3819982b","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"7fdb185e5ea0e7ba","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1680,"y":2040,"wires":[[]]},{"id":"c9809d2ba5384997","type":"ui_switch","z":"18eeb2c03ba7d9ab","g":"7fdb185e5ea0e7ba","name":"","label":"Activate Flow 1","tooltip":"","group":"54bae0f1.50cc","order":1,"width":9,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":520,"y":1960,"wires":[["c686cdd16d5d3fca"]]},{"id":"d671a103.a0e918","type":"switch","z":"18eeb2c03ba7d9ab","g":"7fdb185e5ea0e7ba","name":"gate_1","property":"gate_1","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":2040,"wires":[["607ea3ad3819982b"]]},{"id":"bad531c6ba4b9d7b","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"","label":"Value Below Flow 2","tooltip":"","group":"54bae0f1.50cc","order":4,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":370,"y":2180,"wires":[["4cd6fcae.338154","2860c6a937eeba43"]]},{"id":"c686cdd16d5d3fca","type":"change","z":"18eeb2c03ba7d9ab","g":"7fdb185e5ea0e7ba","name":"","rules":[{"t":"set","p":"gate_1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1960,"wires":[[]]},{"id":"ab3b556363a7ffa6","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":180,"y":2260,"wires":[[]]},{"id":"99af19196d3c2fea","type":"function","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2260,"wires":[["ff187cdff6fa5696"]]},{"id":"78f1eefccf598794","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1680,"y":2260,"wires":[[]]},{"id":"4cd6fcae.338154","type":"function","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"intialise value below","func":"// Here we set the below value\nvar valuebelow = msg.payload\n\nflow.set(\"below\", valuebelow);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2180,"wires":[[]]},{"id":"71fe02aab41c07a3","type":"function","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"value below check","func":"var value = msg.payload;\nvar setpoint = flow.get(\"below\");\nif (setpoint > value) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":2220,"wires":[["d9fe7128b8643e32"]]},{"id":"d9fe7128b8643e32","type":"change","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"","rules":[{"t":"set","p":"gate_2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2220,"wires":[[]]},{"id":"ff187cdff6fa5696","type":"switch","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","name":"gate_2","property":"gate_2","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":2260,"wires":[["78f1eefccf598794"]]},{"id":"2860c6a937eeba43","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"99bae3834eb41f29","group":"54bae0f1.50cc","order":5,"width":2,"height":1,"name":"","label":"2","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":550,"y":2140,"wires":[]},{"id":"6e645e77299bfed9","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"","label":"Value Above Flow 3","tooltip":"","group":"54bae0f1.50cc","order":8,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":370,"y":2400,"wires":[["ed82f2f86bd02c41","f6121f9d99d16f3c"]]},{"id":"6ba58a8b113ad426","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":180,"y":2480,"wires":[[]]},{"id":"9d865a7428bba3ea","type":"function","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":2480,"wires":[["1ac97aa8ea294a4c"]]},{"id":"4d15466afd17b6e5","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1680,"y":2480,"wires":[[]]},{"id":"ed82f2f86bd02c41","type":"function","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"intialise value above","func":"// Here we set the above value\nvar valueabove = msg.payload\n\nflow.set(\"above\", valueabove);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":2400,"wires":[[]]},{"id":"a88f25ef26556148","type":"function","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"value above check","func":"var value = msg.payload;\nvar setpoint = flow.get(\"above\");\nif (setpoint < value) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":2440,"wires":[["e3e6615b16d2134e"]]},{"id":"e3e6615b16d2134e","type":"change","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"","rules":[{"t":"set","p":"gate_3","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":2440,"wires":[[]]},{"id":"1ac97aa8ea294a4c","type":"switch","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","name":"gate_3","property":"gate_3","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":2480,"wires":[["4d15466afd17b6e5"]]},{"id":"f6121f9d99d16f3c","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"383f99cf83dbfa10","group":"54bae0f1.50cc","order":9,"width":2,"height":1,"name":"","label":"3","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":550,"y":2360,"wires":[]},{"id":"4838460ac1849343","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"","label":"Value Above Flow 4","tooltip":"","group":"54bae0f1.50cc","order":12,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":390,"y":2620,"wires":[["04c4d97262483391","d6875f632dcdb472"]]},{"id":"1902c33340761d92","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":180,"y":2780,"wires":[[]]},{"id":"991ff99e1ed46ae7","type":"function","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":2780,"wires":[["43aee9d4e94ade71"]]},{"id":"6f05e3af6fdea32d","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"11a59da532f52bfd","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1660,"y":2780,"wires":[[]]},{"id":"04c4d97262483391","type":"function","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"intialise value above","func":"// Here we set the above value\nvar valueaboveb = msg.payload\n\nflow.set(\"aboveb\", valueaboveb);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":2620,"wires":[[]]},{"id":"54c419baeae5e4ac","type":"function","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"value above but below check","func":"var value = msg.payload;\nvar setpoint = flow.get(\"aboveb\");\nvar setpoint2 = flow.get (\"bbelow\")\nif (setpoint <= value && value <= setpoint2) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":2740,"wires":[["25ae4c8b55c41926","c9d9c84ecb78535e"]]},{"id":"25ae4c8b55c41926","type":"change","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"","rules":[{"t":"set","p":"gate_4","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2740,"wires":[[]]},{"id":"43aee9d4e94ade71","type":"switch","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"gate_4","property":"gate_4","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":2780,"wires":[["6f05e3af6fdea32d"]]},{"id":"d6875f632dcdb472","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","group":"54bae0f1.50cc","order":13,"width":2,"height":1,"name":"","label":"A4","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":630,"y":2580,"wires":[]},{"id":"aebba28bb9be4b80","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"","label":"But below Flow 4","tooltip":"","group":"54bae0f1.50cc","order":15,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":390,"y":2700,"wires":[["bf8da4b27ce1ef2a","5290df4b2b099f53"]]},{"id":"bf8da4b27ce1ef2a","type":"function","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"intialise value but below","func":"// Here we set the above value\nvar valueabbelow = msg.payload\n\nflow.set(\"bbelow\", valueabbelow);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":2700,"wires":[[]]},{"id":"5290df4b2b099f53","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","group":"54bae0f1.50cc","order":16,"width":2,"height":1,"name":"","label":"B4","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":650,"y":2660,"wires":[]},{"id":"c9d9c84ecb78535e","type":"debug","z":"18eeb2c03ba7d9ab","g":"18e1a5e210719293","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":2680,"wires":[]},{"id":"62adeadabae4b823","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","label":"Value Above Flow 5","tooltip":"","group":"54bae0f1.50cc","order":19,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":370,"y":3020,"wires":[["f3b15ff259225f71","7f8095611a09c07b"]]},{"id":"583eb9219b362ad4","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":180,"y":3180,"wires":[[]]},{"id":"42679ac70be1edf0","type":"function","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":3180,"wires":[["b3399c4dfea36a21"]]},{"id":"5377fb9bb6cf9409","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1680,"y":3180,"wires":[[]]},{"id":"f3b15ff259225f71","type":"function","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"intialise value above","func":"// Here we set the above value\nvar valueaboveb1 = msg.payload\n\nflow.set(\"aboveb1\", valueaboveb1);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":3020,"wires":[[]]},{"id":"bee8e0eb07b7e6b2","type":"function","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"value above but below check","func":"var value = msg.payload;\nvar setpoint = flow.get(\"aboveb1\");\nvar setpoint2 = flow.get (\"bbelow1\");\nvar allow = flow.get (\"gate_5\");\nif (setpoint <= value && value <= setpoint2 && allow) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":3140,"wires":[["b96acd6066628802"]]},{"id":"b96acd6066628802","type":"change","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","rules":[{"t":"set","p":"gate_5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3140,"wires":[[]]},{"id":"b3399c4dfea36a21","type":"switch","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"gate_5","property":"gate_5","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":810,"y":3180,"wires":[["5377fb9bb6cf9409"]]},{"id":"7f8095611a09c07b","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","group":"54bae0f1.50cc","order":20,"width":2,"height":1,"name":"","label":"A5","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":610,"y":2980,"wires":[]},{"id":"2ac03a8766cb7931","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","label":"But below Flow 5","tooltip":"","group":"54bae0f1.50cc","order":22,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":370,"y":3100,"wires":[["bc17cdf146a7b476","dadc696624993217"]]},{"id":"bc17cdf146a7b476","type":"function","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"intialise value but below","func":"// Here we set the above value\nvar valueabbelow1 = msg.payload\n\nflow.set(\"bbelow1\", valueabbelow1);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":3100,"wires":[[]]},{"id":"dadc696624993217","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","group":"54bae0f1.50cc","order":23,"width":2,"height":1,"name":"","label":"B5","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":630,"y":3060,"wires":[]},{"id":"046d4870f8f3bbd3","type":"ui_switch","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","label":"Activate Flow 5","tooltip":"","group":"54bae0f1.50cc","order":21,"width":3,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":620,"y":2920,"wires":[["6439faea3003c282"]]},{"id":"6439faea3003c282","type":"change","z":"18eeb2c03ba7d9ab","g":"21870996a3ea8065","name":"","rules":[{"t":"set","p":"gate_5","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":2920,"wires":[[]]},{"id":"de5a7b39bab17cfa","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","label":"Value Above Flow 6","tooltip":"","group":"54bae0f1.50cc","order":25,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":630,"y":3480,"wires":[["cefd8527b55858d7","8a29bd48a48a631f","68d0412b5cb27c90"]]},{"id":"52acf3c18136645a","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":180,"y":3780,"wires":[["08b1a7ae7d1d935d","3be601cd454076f9"]]},{"id":"08b1a7ae7d1d935d","type":"function","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":3780,"wires":[["ca67ee1243857141"]]},{"id":"67678dbe9b5a79a8","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","bot":"","haserroroutput":false,"outputs":1,"x":1680,"y":3780,"wires":[[]]},{"id":"cefd8527b55858d7","type":"function","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"intialise value above","func":"// Here we set the above value\nvar valueaboveb2 = msg.payload\n\nflow.set(\"aboveb2\", valueaboveb2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":3480,"wires":[[]]},{"id":"3be601cd454076f9","type":"function","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"value above but below check","func":"var value = msg.payload;\nvar setpoint = flow.get(\"aboveb2\");\nvar setpoint2 = flow.get (\"bbelow2\");\nvar allow = flow.get (\"gate_6\");\nif (setpoint <= value && value <= setpoint2 && allow) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":880,"y":3740,"wires":[["334c92d3401c8dbd"]]},{"id":"334c92d3401c8dbd","type":"change","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","rules":[{"t":"set","p":"gate_6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":3740,"wires":[[]]},{"id":"ca67ee1243857141","type":"switch","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"gate_6","property":"gate_6","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":3780,"wires":[["67678dbe9b5a79a8"]]},{"id":"8a29bd48a48a631f","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","group":"54bae0f1.50cc","order":26,"width":2,"height":1,"name":"","label":"A6","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":870,"y":3440,"wires":[]},{"id":"b8afc26c64e1b88a","type":"ui_slider","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","label":"But below Flow 6","tooltip":"","group":"54bae0f1.50cc","order":28,"width":7,"height":1,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":"20","step":1,"className":"","x":630,"y":3620,"wires":[["de9ad76d37156308","c555014a8403d910","b584687aafc93de2"]]},{"id":"de9ad76d37156308","type":"function","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"intialise value but below","func":"// Here we set the above value\nvar valueabbelow2 = msg.payload\n\nflow.set(\"bbelow2\", valueabbelow2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":970,"y":3620,"wires":[[]]},{"id":"c555014a8403d910","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","group":"54bae0f1.50cc","order":29,"width":2,"height":1,"name":"","label":"B6","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":890,"y":3580,"wires":[]},{"id":"bcf94a4f42f42b38","type":"ui_switch","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","label":"Activate Flow 6","tooltip":"","group":"54bae0f1.50cc","order":27,"width":3,"height":2,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"On","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":880,"y":3300,"wires":[["d4ef3e154a299785","f3e1e0098d1a2efc"]]},{"id":"04a8bd2ed8de4153","type":"change","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","rules":[{"t":"set","p":"gate_6","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":3300,"wires":[[]]},{"id":"68d0412b5cb27c90","type":"file","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","filename":"Value Above Flow 6","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":890,"y":3520,"wires":[[]]},{"id":"850e3cedb826a4dd","type":"file in","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","filename":"Value Above Flow 6","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":430,"y":3480,"wires":[["de5a7b39bab17cfa"]]},{"id":"d4ef3e154a299785","type":"file","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","filename":"Activate Flow 6","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1180,"y":3340,"wires":[[]]},{"id":"b584687aafc93de2","type":"file","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","filename":"Value Below Flow 6","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":890,"y":3660,"wires":[[]]},{"id":"bc24600d8532fe5c","type":"file in","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","filename":"Value Below Flow 6","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":430,"y":3620,"wires":[["b8afc26c64e1b88a"]]},{"id":"0b903b3309374847","type":"file in","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","filename":"Activate Flow 6","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":700,"y":3300,"wires":[["bcf94a4f42f42b38"]]},{"id":"8d7249f178923b9d","type":"inject","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"","x":190,"y":3400,"wires":[["0b903b3309374847","850e3cedb826a4dd","bc24600d8532fe5c"]]},{"id":"f3e1e0098d1a2efc","type":"change","z":"18eeb2c03ba7d9ab","g":"d77e310b9df31548","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"On","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"Off","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":3300,"wires":[["04a8bd2ed8de4153"]]},{"id":"940f4045eec73ccc","type":"inject","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"bilge.counter","payload":"2","payloadType":"num","x":180,"y":800,"wires":[["8cda5abc8973f983"]]},{"id":"75ed9e25f3a99da9","type":"ui_text","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","group":"54bae0f1.50cc","order":33,"width":3,"height":1,"name":"","label":"Bilge Counter","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":560,"y":860,"wires":[]},{"id":"4e962ff6cf24d1f1","type":"function","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Activations times","func":"var value = msg.count;\nif (value < 2) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":1000,"wires":[["1e1d862c54f4d9f2","ef7a7c3b1bb5271f"]]},{"id":"f2a8d30d2398ec19","type":"switch","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"Allow Lights","property":"gate_allow_lights","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":1040,"wires":[["723b7cfea09b1854"]]},{"id":"1e1d862c54f4d9f2","type":"change","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","rules":[{"t":"set","p":"gate_allow_lights","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":1000,"wires":[[]]},{"id":"5cc3fb5e5efd3faf","type":"ui_button","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","group":"54bae0f1.50cc","order":34,"width":9,"height":1,"passthru":false,"label":"Lights Enabled","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"reset","topicType":"msg","x":160,"y":1000,"wires":[["df6631cec8d9af53"]]},{"id":"ef7a7c3b1bb5271f","type":"ui_led","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","order":35,"group":"54bae0f1.50cc","width":3,"height":1,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"","x":1030,"y":960,"wires":[]},{"id":"4eee9c2a2861ab6e","type":"SumUltimate","z":"18eeb2c03ba7d9ab","name":"Math","property":"payload","math":"sum","subtractstartfrom":"","x":2090,"y":1580,"wires":[[]]},{"id":"def0d11714b86e33","type":"counter","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","x":600,"y":1000,"wires":[["4e962ff6cf24d1f1"]]},{"id":"df6631cec8d9af53","type":"change","z":"18eeb2c03ba7d9ab","g":"d1cbdfd2b849533b","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1000,"wires":[["def0d11714b86e33"]]},{"id":"e0e61203fe775a45","type":"signalk-subscribe","z":"18eeb2c03ba7d9ab","g":"8592803089c31b31","name":"","mode":"sendAll","flatten":true,"context":"vessels.self","path":"environment.depth.belowTransducer","source":"","period":"1000","x":160,"y":360,"wires":[["49cf240b.2ca1ac"]]},{"id":"49cf240b.2ca1ac","type":"function","z":"18eeb2c03ba7d9ab","g":"8592803089c31b31","name":"Message Send Path & Value","func":"var message = msg.payload;\nvar topic = msg.topic;\nmsg.payload = {chatId : 6370366023, type : 'message', content : 'Path'+' '+ topic +' '+'Value'+' '+ message +' ' +'M'};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":360,"wires":[["2cb578e461da158b"]]},{"id":"daabb9c2221d5f1b","type":"inject","z":"18eeb2c03ba7d9ab","g":"8592803089c31b31","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"test","payload":"1","payloadType":"num","x":150,"y":280,"wires":[["49cf240b.2ca1ac"]]},{"id":"2cb578e461da158b","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"8592803089c31b31","name":"","bot":"","haserroroutput":false,"outputs":1,"x":760,"y":360,"wires":[[]]},{"id":"21c07a5e9f17565f","type":"telegram sender","z":"18eeb2c03ba7d9ab","g":"72b9d0b2ed58290a","name":"","bot":"","haserroroutput":false,"outputs":1,"x":440,"y":160,"wires":[["16c8efc1e950ddf8"]]},{"id":"24d0a924a2069067","type":"inject","z":"18eeb2c03ba7d9ab","g":"72b9d0b2ed58290a","name":"","props":[{"p":"payload.type","v":"message","vt":"str"},{"p":"payload.chatId","v":"6370366023","vt":"num"},{"p":"payload.content","v":"Hello","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":170,"y":160,"wires":[["21c07a5e9f17565f"]]},{"id":"16c8efc1e950ddf8","type":"debug","z":"18eeb2c03ba7d9ab","g":"72b9d0b2ed58290a","name":"debug Sender","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":160,"wires":[]},{"id":"f3d4f77549e31c3c","type":"telegram receiver","z":"18eeb2c03ba7d9ab","g":"72b9d0b2ed58290a","name":"","bot":"","saveDataDir":"","filterCommands":false,"x":160,"y":60,"wires":[["42872bc930bb2142"],[]]},{"id":"42872bc930bb2142","type":"debug","z":"18eeb2c03ba7d9ab","g":"72b9d0b2ed58290a","name":"debug Receiver","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":860,"y":60,"wires":[]},{"id":"c988801ec27ed6a7","type":"function","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"intialize location","func":"// Here we initialize some sample data \n// for later usage\nvar latitude = msg.payload.latitude\nvar logitude = msg.payload.longitude\n\nflow.set(\"lat\", latitude);\nflow.set(\"lng\", logitude);\n\n// the live_period in seconds\nflow.set(\"time\", 600);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":660,"wires":[[]]},{"id":"5e7fde11fd4bfcf8","type":"debug","z":"18eeb2c03ba7d9ab","g":"6b8e51cb1a03c10f","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":600,"wires":[]},{"id":"70567253f50737a9","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":2,"width":3,"height":1},{"id":"643e06b26fa20c1d","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":3,"width":12,"height":1},{"id":"84132eb1a38c5a6e","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":6,"width":3,"height":1},{"id":"582ae99a6c5f6677","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":7,"width":12,"height":1},{"id":"96d31e139670da0a","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":10,"width":3,"height":1},{"id":"14e863d7b7967d2a","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":11,"width":12,"height":1},{"id":"cfb48f6fd16355c8","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":14,"width":3,"height":1},{"id":"fa36afa02cef5d1f","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":17,"width":3,"height":1},{"id":"bf232e6fe98d5c6f","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":18,"width":12,"height":1},{"id":"b29b701cbfa1a0ac","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":24,"width":12,"height":1},{"id":"56f18ca116aaa0f7","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":30,"width":12,"height":1},{"id":"30a48d7c5ae874d5","type":"ui_spacer","z":"18eeb2c03ba7d9ab","name":"spacer","group":"54bae0f1.50cc","order":31,"width":12,"height":1},{"id":"54bae0f1.50cc","type":"ui_group","name":"Boat Automation","tab":"7165c6dd422554e2","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"7165c6dd422554e2","type":"ui_tab","name":"Boat Automation","icon":"dashboard","disabled":false,"hidden":false}]