Switching.json
[{"id":"a9a94aeab3fbc650","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"0b2c14b67b6fa021","type":"rpi-gpio out","z":"a9a94aeab3fbc650","name":"","pin":"5","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":780,"y":200,"wires":[]},{"id":"084431058729cadb","type":"signalk-send-pathvalue","z":"a9a94aeab3fbc650","name":"","source":"","meta":"","x":810,"y":100,"wires":[]},{"id":"e3137a74022ac968","type":"change","z":"a9a94aeab3fbc650","name":"digital.switch.1","rules":[{"t":"set","p":"topic","pt":"msg","to":"digital.switch.1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":100,"wires":[["084431058729cadb","0b2c14b67b6fa021"]]},{"id":"db585b37a527d00d","type":"signalk-put-handler","z":"a9a94aeab3fbc650","name":"digital.switch.1","path":"digital.switch.1","x":360,"y":200,"wires":[["084431058729cadb","0b2c14b67b6fa021"]]},{"id":"09a1c499f6b88533","type":"inject","z":"a9a94aeab3fbc650","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"2","topic":"0","payload":"","payloadType":"date","x":200,"y":100,"wires":[["e3137a74022ac968"]]}]